@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}


.navbar {
    width: 100vw;
    height: 50px;
    background-color: #000000;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>h1 {
    font-weight: 500;
}

main {
    min-height: 100vh;
    width: 100vw;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ramen-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

#ramen-menu>.img-menu {
    max-width: 300px;
    max-height: 200px;
    cursor: pointer;
}

#ramen-detail {
    margin: 10px 0;
}

#ramen-detail>.ramen-img {
    background-image: url("/img/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 600px;
    height: 400px;
    padding: 10px;
    gap: 8px;
}

.ramen-img>.ramen-name {
    background-color: #E0E0E0;
    padding: 5px 10px;
    font-weight: 600;
    width: 50%;
}

.ramen-img>.ramen-restaurant {
    background-color: #E0E0E0;
    width: 25%;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-weight: 600;
}

.ramen-info {
    text-align: center;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form>.form-header {
    text-align: center;
    background-color: #000000;
    color: #F5F5F5;
    width: 100%;
}

.form>.form-control {
    display: flex;
    flex-direction: column;
}

.form .form-control input {
    border: #333333 solid 1px;
    padding: 6px;
}

.form .form-control textarea {
    padding: 8px;
    max-width: inherit;
}

.form button {
    width: 100%;
    padding: 6px;
    color: #F5F5F5;
    background-color: #000000;
    font-weight: 400;
    font-size: large;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {

    #ramen-menu {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .ramen-img {
        aspect-ratio: 3/2;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #ramen-menu {
        flex-wrap: wrap;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #ramen-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #ramen-menu {
        flex-wrap: wrap;
    }

}